<app-navbar></app-navbar>

<div class="container mt-5">
  <h2 class="text-center mb-4">Registro de Horas</h2>
  <table class="table table-striped table-bordered text-center">
      <thead class="thead-dark">
          <tr>
              <th>Quantidade</th>
              <th>Entrada</th>
              <th>Pausa</th>
              <th>Retorno</th>
              <th>Saída</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let point of points; let i = index">
              <td>{{i+1}}</td>
              <td>{{point.start}}</td>
              <td>{{point.break}}</td>
              <td>{{point.return}}</td>
              <td>{{point.end}}</td>
          </tr>
      </tbody>
  </table>
  <div class="text-start">
    <button (click)="createTimekeeping()" class="btn btn-primary btn-bater-ponto"><i class="fa fa-plus"></i></button>
  </div>
</div>


