.navbar {
    background-color: #f5f5f5;
    color: #4343ff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}

.log-out-button {
    color: #4343ff;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.log-out-button:hover {
    color: #4343ff;
}